
body, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; 
    color: #fff;
    line-height: 1.6;
}

h1 {
    font-family: OCR A Std, monospace;
    font-weight: bold;
}

p {
    font-family: Bookman, URW Bookman L, serif;
    font-size: 18px;
}


header {
    text-align: center;
    background-image: url("art.jpg");
    
    color: #fff;
    padding: 20px;
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #e74c3c;
}


main {
    padding: 20px;
    text-align: justify;
}


section {
    margin-bottom: 5px;
    background-image: url("texture.jpg");
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#p1 {
    margin: 25px 500px 25px 25px ;
}

#p2 {
    margin: 25px 25px 25px 500px ;
}

#p3 {
    margin: 25px 500px 25px 25px ;
}

#fig1 {
    margin: -235px 25px 25px 975px ;
}

#fig2 {
    margin: -200px 25px 25px 100px ;
}

#fig3 {
    margin: -200px 25px 25px 975px ;
}

/* 
figcaption {
    text-align: center;
    font-style: italic;
    color: #aaa;
    margin-top: 10px;
} */

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1); 
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #e74c3c;
}


